.payment-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    // box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width:30rem;
    
  }
  
  .payment-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 12px;
  }
  
  .payment-options {
    display: flex;
    gap: 10px; 
  }
  
  .payment-option {
    background: #fff;
    padding: 10px 15px;
    border: 2px solid #ccc;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .payment-option input {
    display: none;
  }
  
  .payment-option.active {
    border-color: #ff4500;
    color: #ff4500;
  }
  
  .card-details {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .card-details input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .card-row {
    display: flex;
    gap: 10px;
  }
  
  .card-row input {
    flex: 1;
  }
  
  .order-btn {
    background: #ff4500;
    color: white;
    border: none;
    padding: 12px;
    width: 100%;
    margin-top: 15px;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .order-btn:hover {
    background: #e03c00;
  }
  